.logo{
    display: flex;
    align-items: left;
}
.logo>img{
    margin-right:auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    left: 10px;

}
nav{ display: flex;
    background: linear-gradient(90deg,#59C173,#5D26C1,#ec2F4B,#009FFF);
    background-size: 400%;
    background-position:left ;
    height: 80px;
    display: flex;
    justify-content:center ;
    transition: all 2s ease-in-out;
    animation: nav-animation 35s infinite alternate;
}
.NavMenu{margin-right:auto ;
        display:grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        justify-content: end;
        width:70px;
       padding-left: 900px;
       padding-top: 20px;
    font-size: x-large;
    }
.ProjectName{
    color:rgba(250, 245, 245, 0.986);
  top: -5px;
  left: 90px;
 margin-right: auto; 
font-size: 1.5cm;
}
.nav-options{
    
    color: rgb(231, 231, 231);
    text-decoration:none;
padding-left: 15px;
padding-right: 15px;
}
.nav-options:hover{
    background-color: rgba(0, 255, 128,0.25);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
@keyframes nav-animation {
    0%{background-position: left;}
    100%{background-position: right;}
}